
{% block title %}{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
      <li><a href="{% url 'logout'%}?">ВЫХОД</a></li>


 <h1>{{ question.title }}</h1>


<p>

</p>

<h2> {{ question.body }}</h2>
        <form action="." method="post">
{% for answer in answers %}
    <p><input id="radio" type="radio" name= radio value= '{{ answer.body }}'  >
    <label >
    {{ answer.name }}{{ answer.body }}
     </label>
        </p>
{% endfor %}

        {% csrf_token %}
        <p><input type="submit" value="Отправить ответ"></p>
        </form>
    {% else %}
        <li><a href="{% url 'login'%}">ВХОД</a></li>
    {% endif %}
{% endblock %}