{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body onload="refresh();">
        <script>
            {% if message %}
                alert('{{ message }}');
            {% endif %}
        </script>
        <div id="content" class="content">
        {% block content %}
            {% endblock %}
        </div>
    </body>
</html>